pipeline/MoveFromStgToRaw_copy1.json
{
	"name": "MoveFromStgToRaw_copy1",
	"properties": {
		"activities": [
			{
				"name": "SetFechaActual",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_date",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Try Find Flag",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetFechaActual",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "CheckFlag",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DataOrigin",
									"type": "DatasetReference",
									"parameters": {
										"origin": {
											"value": "@pipeline().parameters.origin",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "FilterFlag",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "CheckFlag",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('CheckFlag').output.childItems",
									"type": "Expression"
								},
								"condition": {
									"value": "@equals(item().name,concat(variables('current_date'),'.flg'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FilterFlag",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('FilterFlag').output.FilteredItemsCount,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "pipelineReturnValue",
											"value": [
												{
													"key": "ExitReturn",
													"value": {
														"type": "Boolean",
														"content": true
													}
												}
											],
											"setSystemVariable": true
										}
									}
								]
							}
						}
					],
					"timeout": "0.0:10:00"
				}
			}
		],
		"parameters": {
			"origin": {
				"type": "string",
				"defaultValue": "stg"
			},
			"destination": {
				"type": "string",
				"defaultValue": "raw"
			}
		},
		"variables": {
			"fichero": {
				"type": "String"
			},
			"current_date": {
				"type": "String"
			},
			"FlagExists": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}